# Dependências
node_modules/

# Build Next.js
.next/
out/

# Variáveis de ambiente
.env
.env.local
.env.*
!.env.example

# Logs
*.log

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts